@use "variables" as *;

.feedback {
	margin-top: 40px;

	@media (min-width: $desktop) {
		margin-top: 45px;
	}
}

.feedback__block {
	display: grid;
	grid-template-columns: 250px 520px;
	grid-template-rows: 25px 65px 45px;
	column-gap: 80px;
	row-gap: 40px;
	width: max-content;
	margin: 0 auto;

	@media (min-width: $desktop) {
		grid-template-columns: 250px 640px;
		grid-template-rows: 25px 70px 50px;
		column-gap: 100px;
	}
}

.feedback__img {
	grid-row: 1/-1;

	@media (min-width: $desktop) {
		height: 235px;
	}
}

.feedback__description {
	text-align: justify;
	color: $grey;
}

.feedback__form {
	display: flex;
	column-gap: 15px;

	@media (min-width: $desktop) {
		column-gap: 25px;
	}
}

.feedback__input {
	padding: 10px 15px;
	border-radius: 10px;
	border: 1px solid $grey;
}

.feedback__subscribe {
	color: $whitesmoke;
	display: flex;
	align-items: center;
	background-color: $black2;
	padding: 15px 25px;
	border-radius: 10px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: 0.4s;

	&:hover {
		color: $black2;
		background-color: $white;
		border: 1px solid $black2;
	}
}