@use "variables" as *;

.intro {
	margin-top: 70px;
}

.intro__block {
	display: grid;
	grid-template-columns: 430px 400px;
	grid-template-rows: 110px 70px 55px;
	row-gap: 20px;
	column-gap: 80px;
	width: max-content;
	margin: 35px auto 0 auto;

	@media (min-width: $desktop) {
		grid-template-columns: 650px 420px;
		grid-template-rows: 130px 75px 60px;
		row-gap: 30px;
		margin: 45px auto 0 auto;
	}
}

.intro__title {
	font-size: 35px;
	line-height: 39px;

	@media (min-width: $desktop) {
		font-size: 40px;
		line-height: 45px;
	}
}

.intro__description {
	color: $grey;
	text-align: justify;
}

.intro__link-go {
	color: $whitesmoke;
	text-decoration: none;
	display: flex;
	align-items: center;
	background-color: $black2;
	width: max-content;
	padding: 15px 50px;
	border-radius: 5px;
	border: 1px solid transparent;
	transition: 0.4s;

	&:hover {
		color: $black2;
		background-color: $white;
		border: 1px solid $black2;
	}
}

.intro__img {
	background-image: url("../img/lang.svg");
	background-repeat: no-repeat;
	width: 400px;
	height: 275px;
	background-position: 0 0;
	background-size: contain;
	grid-row: 1/-1;
	grid-column: 2;
	display: block;

	justify-self: center;

	@media (min-width: $desktop) {
		height: 330px;
	}
}