@use "variables" as *;

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;

	@media (min-width: $desktop) {
		padding: 10px 60px;
	}
}

.main-nav__logo {
	color: $black2;
	text-decoration: none;
	display: flex;
	align-items: center;
	background-image: url("../img/logo.svg");
	background-repeat: no-repeat;
	width: 101px;
	height: 50px;
	padding-left: 60px;
	transition: 0.4s;

	&:hover {
		opacity: 0.55;
	}

	@media (min-width: $desktop) {
		width: 113px;
	}
}

.main-nav__list {
	display: flex;
	column-gap: 30px;

	@media (min-width: $desktop) {
		column-gap: 45px;
	}
}

.main-nav__link {
	color: $lightblack;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
	transition: 0.4s;

	&:hover {
		opacity: 0.6;
	}

	&--active {
		border-bottom: 1px solid $black2;
	}

	@media (min-width: $desktop) {
		padding-bottom: 4px;
	}
}